@model IEnumerable<Biz4CMS.Models.Comment>
<div class="headline">
    <h2>
        Ý kiến khách hàng</h2>
</div>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-6">
            <blockquote>
                <p>
                    @item.Description
                </p>
                <small>@item.FullName <cite>@item.JobTitle </cite></small>
            </blockquote>
        </div>
    }
</div>
